@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&display=swap');
body{
        background-color:#f3def3;
        color:#0f010f ;
        font-family:"Roboto", sans-serif;
        font-weight: normal;
        font-size: 16px;
        max-width: 650px;
        margin: auto;
}

.header{
        display:flex;
        align-items: flex-start;
}

img{
        width: 200px;
        border-radius: 28px;
        box-shadow:0px 0px 0px 0px rgb(0 0 0);
        padding-left: 10px;
}
.header h1{
        padding:140px 20px 0px 50px;
        margin-bottom: 40px;
}
.info{
        color: #0f010fa1;
        font-family: inherit;
        padding-left: 20px;
}

.card{
      
      padding-left: 90px;
      padding-bottom: 10px;
      border-radius: 20px;
      margin-bottom: 20px;
}
 
 
.bg-rose{
   background-color:#f0cef0;

}
.bg-blue{ 
  background-color: rgb(193, 203, 246);
}
.bg-blue li{
   border-bottom: 1px solid rgb(25, 28, 197);
    width: 70%;
}    
 
.bg-beige{
      background-color: beige;
} 

.bg-green{
    background-color: #edfadf;
}

.bg-rose li,
.bg-blue li,
.bg-beige li,
.bg-green li{
  margin-bottom: 10px;
}
.table {
    width: 100%;
   padding-left: 5px;
   margin: auto;
}
table td{
    padding-bottom: 5px;
}
.table td:nth-child(2),
.table td:nth-child(3){
    color:#86898f;
}
   
a{
    text-decoration: none;
}
a:hover{
      font-size: 2rem;
      text-decoration: underline;
}
a:visited{
    color: rgb(102, 57, 121);
}
a:active{
      color:greenyellow;
}
form{
  color: grey;
  font-family:"Roboto", sans-serif ;
 text-align: center;
}

.block{
  margin-bottom: 20px;
}
.btn{
      background-color:#111;
      padding: 15px 20px;
      color: #fff;
      border:none;
      cursor: pointer;
      border-radius: 5px;
}
.btn:hover{
    color:rgb(234, 31, 210);
}

